.header {
    background-color: #090E16;
    border-bottom: 40px solid;
    border-image: linear-gradient(180deg, rgba(128, 0, 255, 0.555) 24%, rgba(197, 87, 199, 0) 100%) 12;
    min-width: 100%;
    height: 140px;
    position: fixed;
    top: 0px;
    left: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

.menu_options {
    list-style: none;
    position: absolute;
    display: flex;
    align-items: center;
    gap: 10px;
    width: max-content;
    padding: 0px;
    margin: 0px;
    transform: translate(90px, -50%);
}

.nav_link {
    display: inline-block;
    padding: 8px 15px 8px 15px;
    border-radius: 25px;
    transition: background-color 1s ease-in;
    z-index: 1;
}

.nav_link a {
    color: rgb(245, 245, 245);
    text-decoration: none;
}

.slide {
    position: absolute;
    background-color: #5e00aaaf;
    border-radius: 20px;
    z-index: 0;
    transition: transform 0.2s ease-in;
}

.logo_img {
    position: absolute;
    height: 60px;
    padding: 8px 15px 8px 15px;
    transform: translate(-560px, -50%);
}