.section_certifications {
    width: 100%;
    max-width: 1100px;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding: 0px 20px 0px 20px;
}

.title {
    margin: 0px;
    font-size: 37px;
    color: rgb(242, 98, 255);
}

.certifications_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    list-style: none;
}

.certification_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    width: 300px;
    height: 300px;
    /* padding-bottom: 30px; */
    border-radius: 15px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-bottom: 4px solid #470081;
    color: white;
    cursor: pointer;
    transition: border 0.3s;
}

.certification_card h2 {
    text-align: center;
    margin: 0px 0px 10px 0px;
}

.certification_card p {
    text-align: center;
    margin: 0px 0px 5px 0px;
}

.certification_card:hover {
    border-bottom: 80px solid #470081;
}

.btn_view_certification {
    text-decoration: none;   
}