.section_certifications {
    width: 100%;
    max-width: 1100px;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding: 0px 20px 0px 20px;
}

.title {
    margin: 0px;
    font-size: 35px;
    color: rgb(242, 98, 255);
}

.certifications_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 0px;
    margin: 0px;
    list-style: none;
}

.certification_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    width: 260px;
    height: 260px;
    border-radius: 25px 25px 0px 0px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-bottom: 4px solid #470081;
    color: white;
    transition: border 0.3s;
}

.certification_card h2 {
    text-align: center;
    padding: 0px 15px 0px 15px;
    margin: 0px 0px 10px 0px;
    font-size: 20px;
}

.certification_card p {
    text-align: center;
    margin: 0px 0px 5px 0px;
    font-size: 16px;
}

.donwload_certification_menu_appearing {
    width: 100%;
    height: 90px;
    background-color: #4700814f;
    transition: 0.3s;
    margin-top: 16px;
}

.donwload_certification_menu_hidden {
    width: 100%;
    height: 0px;
    background-color: #4700814f;
    margin-top: 25px;
    transition: 0.3s;
}

.donwload_certification_link_hidden {
    position: absolute;
    padding: 10px;
    text-decoration: none;
    color: white;
    border-radius: 90px;
    border: 2px solid rgb(242, 98, 255);
    cursor: pointer;
    font-size: 15px;
    font-weight: 500;

    opacity: 0;
    transition: transform 0.3s, opacity 0.2s;
}

.donwload_certification_link_appearing {
    position: absolute;
    padding: 10px;
    text-decoration: none;
    color: white;
    border-radius: 90px;
    border: 2px solid rgb(242, 98, 255);
    cursor: pointer;
    font-size: 15px;
    font-weight: 500;

    opacity: 1;
    transform: translateY(-22px);
    transition: transform 0.3s, opacity 0.3s;

}

.donwload_certification_link_appearing:hover {
    background-color: rgba(242, 98, 255, 0.288);
    transition: background 0.3s;

}