.section_certifications {
    width: 100%;
    max-width: 1100px;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding: 0px 20px 0px 20px;
}

.title {
    margin: 0px;
    font-size: 37px;
    color: rgb(242, 98, 255);
}

.certifications_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 0px;
    list-style: none;
}

.certification_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    width: 300px;
    height: 300px;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-bottom: 4px solid #470081;
    color: white;
    transition: border 0.3s;
}

.certification_card h2 {
    text-align: center;
    padding: 10px;
    margin: 0px 0px 10px 0px;
}

.certification_card p {
    text-align: center;
    margin: 0px 0px 5px 0px;
}

.certification_access_menu_appearing {
    width: 100%;
    height: 90px;
    background-color: #47008173;
    transition: 0.3s;
    margin-top: 25px;
}

.certification_access_menu_hidden {
    width: 100%;
    height: 0px;
    background-color: #47008173;
    margin-top: 25px;
    transition: 0.3s;
}

.access_certification_link_hidden {
    position: absolute;
    padding: 10px;
    text-decoration: none;
    color: white;
    border-radius: 90px;
    border: 2px solid rgb(242, 98, 255);
    cursor: pointer;

    opacity: 0;
    transition: transform 0.3s, opacity 0.2s;
    ;

}

.access_certification_link_appearing {
    position: absolute;
    padding: 10px;
    text-decoration: none;
    color: white;
    border-radius: 90px;
    border: 2px solid rgb(242, 98, 255);
    cursor: pointer;

    opacity: 1;
    transform: translateY(-22px);
    transition: transform 0.3s, opacity 0.3s;
}