.section_contact{
    width: 100%;
    max-width: 1100px;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding: 0px 20px 0px 20px;
}
/* 
.title {
    margin: 0px;
    font-size: 35px;
    color: rgb(242, 98, 255);
}    */

.title{
    margin: 0px;
    font-size: 35px;
    color: rgb(242, 98, 255);
    text-shadow: 0px 0px 25px #fc00e3cc;
}

.contact_menu{
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
    width: 100%;
    justify-content: center;
}

.cellphone_img {
    width: 100%;
    max-width: 380px;
}

.contact_cards_list {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0px;
    padding: 0px;
    gap: 30px;
    width: 100%;
    max-width: 350px;
}

.contact_card {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 20px;
    align-items: center;
}

.contact_card img{
    width: 80px;
    border-radius: 90px;
    border: 3px solid #470081;

}

.contact_card_info {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.contact_card_info p:first-child{
    font-size: 15px;
    font-weight: 500;
    background-color: #470081;
    width: fit-content;
    padding: 5px 10px 5px 10px;
    border-radius: 90px;

}

.contact_card_info p{
    margin: 0px;
    font-size: 15px;
    color: rgb(230, 230, 230);
    word-break: break-all;
}
