.section_project {
    width: 100%;
    max-width: 1100px;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding: 0px 20px 0px 20px;
}

.title {
    margin: 0px;
    font-size: 35px;
    color: rgb(242, 98, 255);
}   

.project_cards_list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: center;
    gap: 30px;
    margin: 0px;
    padding: 0px;
    width: 100%;
}

.project_card {
    width: 100%;
    max-width: 500px;
    padding: 20px;
    border-radius: 15px;
    border: 2px solid #470081;
    background-color: #47008138;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
}

.project_card:hover {
    transform: scale(1.02);
    transition: transform 0.3s;
    box-shadow: 0px 10px 40px 2px #ff0aff1c;
}

.project_card h2{
    color: rgb(245, 245, 245);
    margin: 0px 0px 5px 0px;
    padding: 0px;
    font-size: 25px;
}

.project_card p{
    color: rgb(245, 245, 245);
    margin: 0px;
    padding: 0px;
    font-size: 16px;
}

.project_card a{
    font-size: 16px;
    text-decoration: none;
    margin: 0px;
    padding: 5px 10px 5px 10px;
    width: fit-content;
    border: 2px solid rgb(242, 98, 255);
    border-radius: 90px;
    color: rgb(245, 245, 245);
    font-weight: 500;
    margin-top: 10px;
}

.project_card a:hover {
    background-color: rgba(242, 98, 255, 0.226);
    color: rgb(245, 245, 245);

    transition: 0.25s;
}

.technologies_list{
    list-style: none;
    margin: 0px;
    padding: 0px;
    width: fit-content;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 10px;
}

.technologies_list li{
    margin: 0px;
    padding: 10px;
    background-color: #470081;
    border-radius: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    color: rgba(245,245,245);

}

