.section_about_me {
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 130px;
    padding: 0px 20px 0px 20px;
}

.about_me{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 35px;
    max-width: 600px;
}

.title {
    margin: 0px;
    font-size: 40px;
    color: rgb(242, 98, 255);
}

.text {
    margin: 0px;
    font-size: 20px;
    font-weight: 350;
    color: rgb(230, 230, 230);
    text-align: center;
    
}

.dev_img{
    height: 300px;
}

@media screen and (max-width: 1069px){
    .section_about_me{
        gap: 50px;
    }
}

@media screen and (max-width: 735px){
    .dev_img{
        display: none;
    }
}