.section_about_me {
    width: 1100px;
    height: fit-content;
    /* background-color: #3e29b311; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 150px;
    padding-top: 50px;
    padding-bottom: 50px;
}
.about_me{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 600px;
}
.title {
    margin: 0px 0px 15px 0px;
    font-size: 40px;
    color: rgb(242, 98, 255);
}
.text {
    margin: 0px;
    font-size: 20px;
    font-weight: 350;
    color: rgb(230, 230, 230);
    text-align: center;
}

.dev_img{
    height: 300px;
}