.section_home {
    width: 100%;
    max-width: 1100px;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 120px;
    padding: 50px 20px 0px 20px;
}

.dev_info {
    width: fit-content;
}

.presentation {
    color: rgb(230, 230, 230);
    margin-top: 30px;
    font-size: 18px;
    margin-bottom: 10px;
}

.name {
    color: rgb(242, 98, 255);
    text-shadow: 0px 0px 25px #fc00e3cc;
    font-size: 35px;
    margin: 0px;
    width: 15ch;
    min-height: 2.5ch;
}

.profession {
    color: rgb(230, 230, 230);
    font-weight: 350;
    font-size: 18px;
    margin-bottom: 30px;
}

.greeting {
    color: rgb(242, 98, 255);
    width: fit-content;
    font-weight: 500;
    font-size: 16px;
    padding: 10px;
    background-color: #470081;
    border-radius: 20px;
    margin: 0px;

}

.dev_img {
    width: 100%;
    max-width: 280px;
    transform: rotateY(180deg);
}

.social_media_menu {
    display: flex;
    width: fit-content;
    gap: 20px;
    padding: 0px;
    list-style: none;
    margin-top: 35px;

}

.social_media_image {
    height: 40px;
}

.download_menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn_download_cv {
    padding: 12px;
    font-weight: 500;
    font-size: 16px;
    background-color: #470081;
    border-radius: 30px;
    text-decoration: none;
    color: rgb(242, 98, 255);
    transition: transform 0.3s;
}

.btn_download_cv:hover {
    box-shadow: 0px 10px 33px 5px #ff0aff2d;
    transform: scale(1.06);
}

.junimo_dancing {
    width: 90px;
    transition: transform 0.1s ease-out;
}

.junimo_jumping {
    width: 90px;
    transition: transform 0.09s ease-out;
    transform: translateY(-30px);
}

@media screen and (max-width: 1060px) {
    .section_home {
        gap: 50px;
    }
}

@media screen and (max-width: 460px){
    .name {
        width: 100%;
        /* padding-right: 25px; */
    }
    .dev_info {
        padding: 0px 50px;
        width: 100%;
    }
}