.sections{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    height: fit-content;
    min-width: calc(100% - 8px);
    margin-top: 130px;
}