.section_home {
    position: absolute;
    width: 1100px;
    height: fit-content;
    background-color: rgba(118, 245, 0, 0.027);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
    padding-top: 80px;
}

.dev_info{
    width: fit-content;
}

.name {
    color: rgb(245, 245, 245);
    font-size: 35px;
    margin: 0px;
}

.presentation {
    color: rgb(245, 245, 245);
    font-weight: 300;
    font-size: 18px;
}

.greeting {
    color: rgb(234, 0, 255);
    width: fit-content;
    font-weight: 500;
    font-size: 16px;
    padding: 10px;
    background-color: #5e00aaaf;
    border-radius: 20px;

}

.dev_img {
    height: 300px;
}

.social_media_menu{
    display: flex;
    width: fit-content;
    gap: 20px;
    padding: 0px;
    list-style: none;
    margin-top: 35px;

}

.social_media_image{
    height: 40px;
}

.download_cv{
    padding: 12px;
    background-color: #5e00aaaf;
    border-radius: 30px;
    text-decoration: none;
    color: rgb(234, 0, 255);
}