.section_skills {
    width: 100%;
    max-width: 1100px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding: 0px 20px 0px 20px;
}

.title {
    margin: 0px;
    font-size: 40px;
    color: rgb(242, 98, 255);
}

.skills {
    width: 100%;
    max-width: 700px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 50px;
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.skill {
    width: 120px;
    height: 120px;
    border-radius: 10px;
    background-color: #5e00aaaf;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: rgb(230, 230, 230);
    font-size: 18px;
    font-weight: 500;
    transition: transform 0.4s;
}

.skill:hover {
    box-shadow: 0px 12px 40px 5px #ff0aff23;
    transform: scale(1.1);
}

.skill_img {
    height: 50px;
    width: 50px;
}