.section_skills {
    width: 100%;
    max-width: 1100px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding: 0px 20px 0px 20px;
}

.title {
    z-index: 1;
    margin: 0px;
    font-size: 35px;
    color: rgb(242, 98, 255);
    text-shadow: 0px 0px 25px #fc00e3cc;
    text-align: center;
}

.skills {
    z-index: 1;
    width: 100%;
    max-width: 700px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 40px;
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.skill {
    width: 110px;
    height: 110px;
    border-radius: 20px 0px 20px 0px;
    background-color: #47008138;
    border: 2px solid #470081;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: rgb(230, 230, 230);
    font-size: 18px;
    font-weight: 500;
    transition: transform 0.4s;
}

.skill:hover {
    box-shadow: 0px 10px 40px 5px #ff0aff1c;
    transform: scale(1.1);
}

.skill_img {
    height: 45px;
    width: 45px;
}