.header {
    background-color: #090E16;
    border-bottom: 3px solid;
    border-image: linear-gradient(90deg, rgba(128, 0, 255, 1) 0%, rgba(208, 0, 255, 0.74) 23%, rgba(208, 0, 255, 0.33) 51%,
            rgba(208, 0, 255, 0.73) 81%, rgba(128, 0, 255, 1) 100%) 10;
    min-width: 100%;
    height: 120px;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header_content {
    width: 100%;
    max-width: 1100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.logo_img {
    height: 60px;
    padding: 8px 15px 8px 15px;
    cursor: pointer;
}

.horizontal_navbar_link_list {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 10px;
    max-width: fit-content;
    padding: 0px;
    margin: 0px;

}

.nav_link {
    display: inline-block;
    padding: 8px 15px 8px 15px;
    border-radius: 25px;
    transition: background-color 1s ease-in;

}

.nav_link a {
    color: rgb(230, 230, 230);
    cursor: pointer;
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
}

.nav_link_active {
    display: inline-block;
    padding: 8px 15px 8px 15px;
    border-radius: 25px;
    transition: background-color 1s ease-in;
    z-index: 1;
}

.nav_link_active a {
    cursor: pointer;
    color: rgb(242, 98, 255);
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
}

.slide {
    position: absolute;
    background-color: #470081;
    border-radius: 20px;
    z-index: 0;
    transition: transform 0.2s ease-in;
    transform: translateX(calc(12-32));
}

.btn_show_vertical_nav {
    display: none;
}

.vertical_navbar {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 0px;
    position: absolute;
    width: 100%;
    max-width: 280px;
    top: 2px;
    left: 105vw;
    background-color: #090E16;
    border-radius: 18px 0px 0px 18px;
    padding: 40px;
    box-shadow: 1px 5px 18px 1px rgba(138, 138, 138, 0.233);
    transition: transform ease-in-out 0.3s;
}

.vertical_navbar_link_list {
    list-style: none;
    padding: 0px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 0px;
}

.vertical_navbar_link_list li {
    color: white;
    font-size: 18px;
    font-weight: 300;
}

.vertical_navbar_link_list li a {
    cursor: pointer;
}

.btn_close_vertical_nav {
    background-color: transparent;
    border: none;
    width: 45px;
    height: 35px;
    cursor: pointer;
}

.btn_close_vertical_nav img {
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 910px) {
    .horizontal_navbar {
        display: none;
    }

    .btn_show_vertical_nav {
        display: block;
        background-color: transparent;
        border: none;
        width: 45px;
        height: 40px;
        cursor: pointer;
    }

    .btn_show_vertical_nav img {
        height: 100%;
        width: 100%;
    }

}