.section_experiences {
    width: 100%;
    max-width: 1100px;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    align-items: top;
    justify-content: center;
    gap: 40px;
    padding: 0px 20px 0px 20px;
}

.experiences{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;
    max-width: 500px;
}

.title {
    margin: 0px;
    font-size: 35px;
    color: rgb(242, 98, 255);
    text-align: center;
    text-shadow: 0px 0px 25px #fc00e3cc;
}

.experiences_list {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin: 0px;
    padding: 0px;
}

.experiences_list li{
    border: 2px solid #470081;
    background-color: #47008138;
    padding: 20px;
    color: rgb(230, 230, 230);
    width: 100%;
    max-width: 450px;
    border-radius: 15px;
    display: flex;
    align-items: center;

}

.experiences_list li:hover {
    transform: scale(1.03);
    box-shadow: 0px 10px 40px 2px #ff0aff1c;
    transition: transform 0.3s;
}

.experience_information {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.experience_information h2{
    font-size: 25px;
    margin: 0px 0px 5px 0px;
}

.experience_information p{
    font-size: 16px;
    margin: 0px;
    font-weight: 350;
}
