.section_experiences {
    width: 100%;
    max-width: 1100px;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    align-items: top;
    justify-content: center;
    gap: 40px;
    padding: 0px 20px 0px 20px;
}
.experiences{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: 500px;
}

.title {
    margin: 0px;
    font-size: 37px;
    color: rgb(242, 98, 255);
}

.experiences_list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 0px 0px 0px 2px;
    padding: 15px 0px 15px 20px;
    border-left: 5px solid rgb(242, 98, 255);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.experiences_list li{
    background-color: #470081;
    padding: 15px;
    color: rgb(230, 230, 230);
    width: 100%;
    border-radius: 15px;
    display: flex;
    align-items: center;

}

.ball_indicator{
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 15px solid #470081;
    position: absolute;
    transform: translatex(-28px);
    
}

.experience_information {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.experience_information h1{
    font-size: 20px;
    margin: 0px;
}

.experience_information p{
    font-size: 18px;
    margin: 0px;
}
