.section_home {
    width: 1100px;
    height: fit-content;
    /* background-color: #3e29b311; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.dev_info{
    width: fit-content;
}

.presentation {
    color: rgb(245,245,245);
    margin-top: 30px;
    margin-bottom: 10px;
}

.name {
    color: rgb(242, 98, 255);
    font-size: 35px;
    margin: 0px;
}

.profession {
    color: rgb(245, 245, 245);
    font-weight: 300;
    font-size: 18px;
    margin-bottom: 30px;
}

.greeting {
    color: rgb(242, 98, 255);
    width: fit-content;
    font-weight: 500;
    font-size: 16px;
    padding: 10px;
    background-color: #5e00aaaf;
    border-radius: 20px;
    margin: 0px;

}

.dev_img {
    height: 300px;
}

.social_media_menu{
    display: flex;
    width: fit-content;
    gap: 20px;
    padding: 0px;
    list-style: none;
    margin-top: 35px;

}

.social_media_image {
    height: 40px;
}

.download_menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn_download_cv {
    padding: 12px;
    font-weight: 500;
    background-color: #5e00aaaf;
    border-radius: 30px;
    text-decoration: none;
    color: rgb(242, 98, 255);
    transition: transform 0.1s;
}
.btn_download_cv:hover {
    transform: scale(1.04);
}

.junimo_dancing {
    width: 80px;
    transition: transform 0.1s ease-out;
}
.junimo_jumping {
    width: 80px;
    transition: transform 0.09s ease-out;
    transform: translateY(-20px);
}
