.header {
    background-color: #090E16;
    border-bottom: 1px solid #5e00aa;
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0px;
    left: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu_options {
    list-style: none;
    position: absolute;
    display: flex;
    align-items: center;
    gap: 30px;
    width: max-content;
    padding: 0px;
    margin: 0px;
    transform: translate(140px, -50%);
}

.nav_link {
    color: rgb(245, 245, 245);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
}

.nav_link_active {
    color: rgb(204, 0, 255);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
}

.logo_img {
    position: absolute;
    height: 50px;
    transform: translate(-540px, -50%);

}