.header {
    background-color: #090E16;
    border-bottom: 1px solid #5e00aa;
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0px;
    left: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu_options {
    list-style: none;
    position: absolute;
    display: flex;
    align-items: center;
    gap: 10px;
    width: max-content;
    padding: 0px;
    margin: 0px;
    transform: translate(90px, -50%);
    z-index: 1;
}

.nav_link {
    display: inline-block;
    padding: 8px 15px 8px 15px;
    border-radius: 25px;
    transition: background-color 1s ease-in;
}
.nav_link a{
    color: rgb(245, 245, 245);
    text-decoration: none;
}

.logo_img {
    position: absolute;
    height: 60px;
    padding: 8px 15px 8px 15px;
    transform: translate(-560px, -50%);
}

.slide {
    position: absolute;
    background-color: #5e00aa;
    /* width: 50px;
    height: 30px; */
    transform: translateY(-50%);
    z-index: 0;
}