.section_contact{
    width: 100%;
    max-width: 1100px;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding: 0px 20px 0px 20px;
}

.title{
    margin: 0px;
    font-size: 35px;
    color: rgb(242, 98, 255);
    text-shadow: 0px 0px 25px #fc00e3cc;
}

.contact_menu{
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
    width: 100%;
    justify-content: center;
}

.contact_cards_list {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    margin: 0px;
    padding: 0px;
    width: 100%;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.contact_card {
    width: 100%;
    max-width: 250px;
}

.contact_card a {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 25px 0px 25px 0px;
}

.contact_card a:hover {
    transition: 0.3s;
    z-index: 0;
    transform: scale(1.04);
}

.contact_img{
    width: 100%;
    max-width: 90px;
    border-radius: 25px;
    box-shadow: 0px 10px 40px 2px #ff0aff1c;
}

.contact_card_info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.contact_card_info p:first-child{
    font-weight: 500;
    background-color: #470081;
    width: fit-content;
    padding: 5px 10px 5px 10px;
    border-radius: 90px;

}

.contact_card_info p{
    margin: 0px;
    font-size: 16px;
    color: rgb(230, 230, 230);
    word-break: break-all;
}

.pointing_finger_activated{
    width: 55px;
    position: absolute;
    transform: translateX(148px) translateY(20px) rotate(235deg) scaleX(-1);
    animation: infinite finger_moving 1.5s;
    pointer-events: none;
    z-index: 1;
    
}

.pointing_finger_deactivated{
    display: none;
}

@keyframes finger_moving {
    50%{
        transform: translateX(155px) translateY(10px) rotate(235deg) scaleX(-1);
    }
    100%{
        transform: translateX(148px) translateY(20px) rotate(235deg) scaleX(-1);
    }
}
